@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    text-decoration: none;
    list-style-type: none;
    font-family: "Zalando", sans-serif;
}

html, body {
    height: 100%;
}
header {
    height: 4.6875rem;
    padding: 0 12.5rem;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        font-size: 2.5rem;
        font-weight: 600;
    }
    ul {
        display: flex;
        gap: 2.5rem;
        
        li {
            
            a {
                padding: .5rem;
                font-size: 1.25rem;
            }
        }
    }
}

main {
    .chamada{
        background-color: #000;
        height: 37.5rem;
        display: flex;
        gap: 3.75rem;
        padding: 0 12.5rem;

        .texto-chamada {
            width: 50%;
            height: 42.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 4rem;
                margin: 0 0 2rem;
                span {
                    color: #FFBB00
                }
            }

            p{
                font-size: 1.125rem;
                color: #b2b2b2;
                margin: 0 0 1.25rem;
                line-height: 1.5;
            }
            button {
                color: #000;
                font-size: 1.25rem;
                font-weight: 600;
                text-transform: uppercase;
                width: fit-content;
                padding: 1rem 2rem;
                border-radius: .5rem;
                background: linear-gradient(#FFBF00, #F2A50C);
                 cursor: pointer;

                 &:hover {
                    background: linear-gradient(#FFB000, #F2A500);
                 }
            }
        }

        .imagem-chamada {
            border: solid red;
            width: 50%;
            height: 42.5rem;
        }
    }
}